<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		{block headScripts}{/block}
	</head>
	<body>

		<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message|noescpae}</div>

		{include content}

		{block bodyScript}{/block}

	</body>
</html>